<!DOCTYPE html>
<html lang="en" style="font-size: 7px;"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <title>感情能否继续下去_分手能否挽回_你和TA该继续吗？<{$zhanming}>塔罗牌占卜</title>
    <meta name="keywords" content="分手挽回,塔罗爱情,塔罗牌">
    <meta name="description" content="感情遇到阻碍是该放手还是继续坚持，TA值得你继续付出和等待吗？预测你的爱情之路，揭秘你和TA的缘分深浅，塔罗牌揭秘分手能否挽回占卜。">
	<{include file='./ffsm/wx_share.tpl'}>
    <script src="/statics/ffsm/taluo/jixu/rem_tool.js"></script>
    <link rel="stylesheet" href="/statics/ffsm/taluo/jixu/common-v=1.4.css">
    <link rel="stylesheet" href="/statics/ffsm/taluo/jixu/index-v=1.4.css">
</head>
<body>
<header class="public_header">
<h1 class="public_h_con">塔罗占卜</h1>
<a class="public_h_home" href="/"></a><a href="/?ac=history" class="public_h_menu">我的订单</a></header>
<section class="page">
    <section class="main-wrap flex-column">
        <img class="order_btn" src="/statics/ffsm/taluo/jixu/image/order_btn-v=1.1.png">
        <div class="banner-wrap flex-center">
            <img class="banner" src="/statics/ffsm/taluo/jixu/image/banner-v=1.3.png">
        </div>
        <img class="start-btn start-zoom" src="/statics/ffsm/taluo/jixu/image/start_btn-v=1.1.png">

        <div class="content-wrap flex-column">

            <div class="content-box flex-column custom-content-box">
                <img class="border border-top" src="/statics/ffsm/taluo/jixu/image/border_top-v=1.1.png">
                <div class="content-panel">
                    <div class="content flex-column">
                        <img class="parse-text" style="width: 100%;" src="/statics/ffsm/taluo/jixu/image/parse_text2-v=1.0.png">
                    </div>
                </div>
                <img class="border border-bot" src="/statics/ffsm/taluo/jixu/image/border_bot-v=1.1.png">
            </div>

            <div class="content-box flex-column custom-content-box">
                <img class="border border-top" src="/statics/ffsm/taluo/jixu/image/border_top-v=1.1.png">
                <div class="content-panel">
                    <div class="content flex-column">
                        <img class="list-text" style="width: 92%; margin-bottom: 0.4rem;" src="/statics/ffsm/taluo/jixu/image/list_text2-v=1.0.png">
                    </div>
                </div>
                <img class="border border-bot" src="/statics/ffsm/taluo/jixu/image/border_bot-v=1.1.png">
            </div>

            <div class="content-box flex-column custom-content-box">
                <img class="border border-top" src="/statics/ffsm/taluo/jixu/image/border_top-v=1.1.png">
                <div class="content-panel">
                    <div class="content flex-column">
                        <img class="parse-text" style="width: 95%; margin-bottom: 0.4rem;" src="/statics/ffsm/taluo/jixu/image/guide_text2-v=1.0.png">
                    </div>
                </div>
                <img class="border border-bot" src="/statics/ffsm/taluo/jixu/image/border_bot-v=1.1.png">
            </div>

            <div class="content-box flex-column custom-content-box">
                <img class="border border-top" src="/statics/ffsm/taluo/jixu/image/border_top-v=1.1.png">
                <div class="content-panel">
                    <div class="content flex-column">
                        <img class="list-text" style="width: 89%; margin-bottom: 0.2rem;" src="/statics/ffsm/taluo/jixu/image/step_text2-v=1.0.png">
                    </div>
                </div>
                <img class="border border-bot" src="/statics/ffsm/taluo/jixu/image/border_bot-v=1.1.png">
            </div>

            <div class="content-box flex-column">
                <img class="border border-top" src="/statics/ffsm/taluo/jixu/image/border_top-v=1.1.png">
                <div class="content-panel">
                    <div class="content flex-column">
                        <div class="upto-wrap" style="height: 328px;">
                            <ul class="comment-list info-list-box">
                                <li>
                                        <p class="user">刁*女士</p>
                                        <p class="detail">以前一直觉得他不好，占卜完以后我试着去理解他，才发现原来他真的很爱我！</p>
                                    </li><li>
                                        <p class="user">吴*先生</p>
                                        <p class="detail">还可以，比之前测过其他家的好很多，当下感情遇到的阻碍跟我本身很匹配！比较推荐！
</p>
                                    </li><li>
                                        <p class="user">马*女士</p>
                                        <p class="detail">总体感觉很准确，其实有些问题自己是想到过的，只是当局者迷，需要一个外界的指引。
</p>
                                    </li><li>
                                        <p class="user">刘*先生</p>
                                        <p class="detail">不管怎么样，解开了我心里的疑惑，以后感情发展更有方向啦。
</p>
                                    </li><li>
                                        <p class="user">樊*女士</p>
                                        <p class="detail">给他测了一份，给我测了一份，两个结果居然出奇的匹配！！！疯狂打call！
</p>
                                    </li><li>
                                        <p class="user">李*女士</p>
                                        <p class="detail">内容很丰富，对未来的预测和建议也是比较具体的。
</p>
                                    </li><li>
                                        <p class="user">简*先生</p>
                                        <p class="detail">真的很准，钱没有白花，一开始的时候确实很犹豫，结果真的是很准，真的很棒！
</p>
                                    </li><li>
                                        <p class="user">谢*女士</p>
                                        <p class="detail">最近感情很糟心，占卜结果说我还不能操之过急，因为勉强为之反而会适得其反，果然我调整了一下心态，很多事都变得顺利了。
</p>
                                    </li><li>
                                        <p class="user">冯*女士</p>
                                        <p class="detail">还行，比之前的好多占卜详细很多，也得到了一些有用的建议！
</p>
                                    </li><li>
                                        <p class="user">王*女士</p>
                                        <p class="detail">第一次用塔罗测试，本来是不太信的，但是测了两次结果都比较接近，而且当前的状态和阻碍跟我本身也很匹配~
</p>
                                    </li><li>
                                        <p class="user">张*女士</p>
                                        <p class="detail">解牌马上就看出了问题的关键，说的很到位，感觉对未来不再是那么迷茫了！
</p>
                                    </li><li>
                                        <p class="user">曹*先生</p>
                                        <p class="detail">跟简介很匹配，想看的都看到了，希望能像说的那样，跟她一直继续下去！
</p>
                                    </li><li>
                                        <p class="user">许*先生</p>
                                        <p class="detail">对方的家长比较反对，本来有些担心，但牌面显示她会陪我渡过困难，这下我就放心了。
</p>
                                    </li><li>
                                        <p class="user">孙*先生</p>
                                        <p class="detail">我是朋友介绍过来的，没想到这么不错，说的很准！强烈推荐！！！
</p>
                                    </li><li>
                                        <p class="user">沈*女士</p>
                                        <p class="detail">非常有用，不仅有用还给了我很客观的建议！
</p>
                                    </li><li>
                                        <p class="user">赵*先生</p>
                                        <p class="detail">准确，是很好的感情指导工具。
</p>
                                    </li><li>
                                        <p class="user">李*先生</p>
                                        <p class="detail">好评，很专业！
</p>
                                    </li><li>
                                        <p class="user">陈*先生</p>
                                        <p class="detail">赞赞赞！
</p>
                                    </li><li>
                                        <p class="user">魏*女士</p>
                                        <p class="detail">特别特别有用，能说到问题的关键。
</p>
                                    </li><li>
                                        <p class="user">钱*女士</p>
                                        <p class="detail">准！比较详细，我喜欢这种不模棱两可的，比较直接。不过有一些细节不是很深入，想找老师帮忙再详细算一遍。
</p>
                                    </li>                            </ul>
                        
                            <ul class="comment-list info-list-box">
                                <li>
                                        <p class="user">刁*女士</p>
                                        <p class="detail">以前一直觉得他不好，占卜完以后我试着去理解他，才发现原来他真的很爱我！</p>
                                    </li><li>
                                        <p class="user">吴*先生</p>
                                        <p class="detail">还可以，比之前测过其他家的好很多，当下感情遇到的阻碍跟我本身很匹配！比较推荐！
</p>
                                    </li><li>
                                        <p class="user">马*女士</p>
                                        <p class="detail">总体感觉很准确，其实有些问题自己是想到过的，只是当局者迷，需要一个外界的指引。
</p>
                                    </li><li>
                                        <p class="user">刘*先生</p>
                                        <p class="detail">不管怎么样，解开了我心里的疑惑，以后感情发展更有方向啦。
</p>
                                    </li><li>
                                        <p class="user">樊*女士</p>
                                        <p class="detail">给他测了一份，给我测了一份，两个结果居然出奇的匹配！！！疯狂打call！
</p>
                                    </li><li>
                                        <p class="user">李*女士</p>
                                        <p class="detail">内容很丰富，对未来的预测和建议也是比较具体的。
</p>
                                    </li><li>
                                        <p class="user">简*先生</p>
                                        <p class="detail">真的很准，钱没有白花，一开始的时候确实很犹豫，结果真的是很准，真的很棒！
</p>
                                    </li><li>
                                        <p class="user">谢*女士</p>
                                        <p class="detail">最近感情很糟心，占卜结果说我还不能操之过急，因为勉强为之反而会适得其反，果然我调整了一下心态，很多事都变得顺利了。
</p>
                                    </li><li>
                                        <p class="user">冯*女士</p>
                                        <p class="detail">还行，比之前的好多占卜详细很多，也得到了一些有用的建议！
</p>
                                    </li><li>
                                        <p class="user">王*女士</p>
                                        <p class="detail">第一次用塔罗测试，本来是不太信的，但是测了两次结果都比较接近，而且当前的状态和阻碍跟我本身也很匹配~
</p>
                                    </li><li>
                                        <p class="user">张*女士</p>
                                        <p class="detail">解牌马上就看出了问题的关键，说的很到位，感觉对未来不再是那么迷茫了！
</p>
                                    </li><li>
                                        <p class="user">曹*先生</p>
                                        <p class="detail">跟简介很匹配，想看的都看到了，希望能像说的那样，跟她一直继续下去！
</p>
                                    </li><li>
                                        <p class="user">许*先生</p>
                                        <p class="detail">对方的家长比较反对，本来有些担心，但牌面显示她会陪我渡过困难，这下我就放心了。
</p>
                                    </li><li>
                                        <p class="user">孙*先生</p>
                                        <p class="detail">我是朋友介绍过来的，没想到这么不错，说的很准！强烈推荐！！！
</p>
                                    </li><li>
                                        <p class="user">沈*女士</p>
                                        <p class="detail">非常有用，不仅有用还给了我很客观的建议！
</p>
                                    </li><li>
                                        <p class="user">赵*先生</p>
                                        <p class="detail">准确，是很好的感情指导工具。
</p>
                                    </li><li>
                                        <p class="user">李*先生</p>
                                        <p class="detail">好评，很专业！
</p>
                                    </li><li>
                                        <p class="user">陈*先生</p>
                                        <p class="detail">赞赞赞！
</p>
                                    </li><li>
                                        <p class="user">魏*女士</p>
                                        <p class="detail">特别特别有用，能说到问题的关键。
</p>
                                    </li><li>
                                        <p class="user">钱*女士</p>
                                        <p class="detail">准！比较详细，我喜欢这种不模棱两可的，比较直接。不过有一些细节不是很深入，想找老师帮忙再详细算一遍。
</p>
                                    </li>                            </ul>
                        </div>
                    </div>
                </div>
                <img class="border border-bot" src="/statics/ffsm/taluo/jixu/image/border_bot-v=1.1.png">
            </div>

        </div>

        

        <{include file="./index/taluo/footer.tpl"}>

        <div class="float-wrap flex-center" style="display: none">
            <div class="float-btn flex-center">
                <img class="start-btn start-zoom" style="margin: 0rem" src="/statics/ffsm/taluo/jixu/image/start_btn-v=1.1.png">
            </div>
        </div>

        <div class="toastbox"></div>
    </section>
</section>

<script type="text/javascript" src="/statics/ffsm/taluo/jixu/zwSdk-v=19041314.js"></script>
<script type="text/javascript" src="/statics/ffsm/taluo/jixu/jquery.min.js"></script>
<script type="text/javascript" src="/statics/ffsm/taluo/jixu/scroll.js"></script>
<script type="text/javascript">
    //页面后退事件监听
    if(window.history && history.pushState) {
        window.addEventListener('popstate', function() {
            zwDivine.divineNewList();
        });
    }
    function pushPages() {
        history.pushState(null, null, "#");
    }
    $(function () {
        setTimeout(pushPages(), 100);
        $('.float-wrap').hide();
        var count = "369544";
        var rate = "99.8%";
        var labels = [16259,14781,25868,7390,9608];
        count = parseInt(count);
        $('.person-count em').text(count);
        if (count < 10000) {
            count = 12823;
            count = (count / 10000).toFixed(1) + '万';
        } else {
            count = parseInt(count / 10000) + '万';
        }
        $('.comment-title em').text(count);
        $('.rate-num em').text(rate);
        for (var i = 0; i < labels.length; i++) {
            $("#label_" + i + " em").text(labels[i]);
        }
    });

    $('.order_btn').click(function () {
        // window.location.href = "/divine.php/home/divine/orderlist/name/farewell";
        window.location.href = "/?ac=history";
    });

    window.onscroll = function () {
        var height =  $(".banner-wrap").outerHeight();
        var top = document.documentElement.scrollTop || document.body.scrollTop;
        top > height ? $('.float-wrap').fadeIn() : $('.float-wrap').fadeOut();
    };

    $('.start-btn').click(function () {
        zwDivine.recordUserInfo({
            'name': '',
            'gender': 0,
            'birthday': '',
            'extra': JSON.stringify({
                'name': '',
                'gender': 0
            })
        });
        // check input
        $.ajax({
            url: '/?ac=userinfosubmit',
            type: "POST",
            data: {
                'gid': "jixu",
            },
            success: function (res) {
                var src = "1167";
                src = parseInt(src);
                try {
                    if(src == 1210){
                        MtaH5.clickStat('nengjixuma2',{'lijizhanbu':'true'})
                    }else{
                        MtaH5.clickStat('nihetanengjixum',{'lijizhanbu':'true'});
                    }
                } catch (err) {
                    console.log(err)
                }
                var result = JSON.parse(res);
                if (result.code == 1) {
                    window.location.href = "/?ac=taluojixu&oid=" + result.data.record_id;
                }
            }
        });
    })
</script>
<{include file='./ffsm/footer.tpl'}>
<{include file='./ffsm/dl_ck.tpl'}>
</body></html>