@charset "UTF-8";
* { margin: 0px; padding: 0px; box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

html { background: #ffccbb; }

body {font-family: "Microsoft Yahei",Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;background: #f5e4dd !important;overflow-x: hidden;max-width: 750px;margin: 0 auto;}

ul li { list-style: none; }

img { border: none; }

a { color: #333; text-decoration: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

a:active { -webkit-tap-highlight-color: transparent; }

em, i { font-style: normal; }

.clearfix { zoom: 1; }

.clearfix:after { clear: both; height: 0px; font-size: 0px; visibility: hidden; display: block; content: " "; }

input, textarea, button {resize: none;outline: none;border: 0 none;font-family: "Microsoft Yahei";}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #c4c4c4; }

.cmtinput textarea::-webkit-input-placeholder { color: #8f8f8f; }

.flexstyle, .main-srzl .checkbox, .zslist p, .mingpan-list li p { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
html{font-size:100px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:48px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:48px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:100px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:100px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:100px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:100px}}
@media screen and (min-width:800px){html{font-size:100px}}
.contents { background: url(./images/mainbg.jpg) no-repeat; background-size: 100% auto; position: relative; }

.top { height: 0.9rem; background: rgba(255, 255, 255, 0.4); text-align: center; position: relative; }
.top img { height: 0.31rem; margin-top: 0.3rem; }
.top .ahome { left: 0.35rem; margin-top: -0.16rem; width: 0.36rem; height: 0.32rem; display: block; position: absolute; top: 50%; background-repeat: no-repeat; background-size: auto 100%; background-image: url(./images/ahome.png); }
.top .atopmenu { right: 0.2rem; margin-top: -0.15rem; width: 0.4rem; height: 0.29rem; display: block; position: absolute; top: 50%; background-repeat: no-repeat; background-size: auto 100%; background-image: url(./images/zkmenu.png); }

.main { padding-top: 3.8rem; position: relative; }
.main:before { display: block; content: ''; position: absolute; left: 0; top: 0.6rem; width: 2.37rem; height: 3.79rem; background: url(./images/yuelao.png) no-repeat; background-size: 100% auto; z-index: 1; }

.dzfmain:before { height: 3.2rem; }

.hide { display: none; }

.srzl-yinsi { margin: 0.16rem 0.18rem 0 0.18rem; position: relative; }
.srzl-yinsi .awdcs { float: right; color: #6e477e !important; }

.srzl-box { margin: 0 0.18rem; padding: 0.3rem 0.3rem 0.48rem 0.3rem; background: url(./images/srzl_bg.png) no-repeat; background-size: 100% 100%; box-shadow: 0 0.07rem 0.03rem 0 rgba(199, 168, 155, 0.6); position: relative; }

.main-srzl { position: relative; }
.main-srzl .sb_remind { position: absolute; left: 0; bottom: 1.6rem; right: 0; text-align: center; }
.main-srzl .sb_remind span { display: inline-block; font-size: 0.26rem; color: #51a531; }
.main-srzl .sb_remind span:before { float: left; content: ''; width: 0.26rem; height: 0.26rem; margin: 0.05rem 0.05rem 0 0; }
.main-srzl .sb_remind span.tjsb { color: #f6de93; }
.main-srzl .radiobox { float: right; }

.main-srzl .radiobox { border-radius: 0.1rem; border: 1px solid #6e477e; margin-top: 0.05rem; overflow: hidden; }
.main-srzl .radiobox .pradio { float: left; width: 0.77rem; line-height: 0.38rem; text-align: center; font-size: 0.24rem; color: #8d649d; cursor: pointer; }
.main-srzl .radiobox .pradio.cur { background-color: #6e477e; color: #fff; }

.pysxy { float: left; font-size: 0.24rem; color: #6e477e; }
.pysxy a { color: #6e477e; text-decoration: underline; }

.main-srzl .checkbox .pradio { float: left; width: 0.2rem; height: 0.2rem; border: 1px solid #6e477e; margin-right: 0.22rem; position: relative; cursor: pointer; }
.main-srzl .checkbox .pradio.on:before { display: block; content: ''; width: 0.3rem; height: 0.17rem; background: url(./images/gou.png) no-repeat; background-size: 100% 100%; position: absolute; left: -0.03rem; bottom: 0; }

.srzl-bg { margin-top: -0.09rem; }

.srzl-list { line-height: 0.5rem; font-size: 0.32rem; overflow: hidden; position: relative; padding-left: 0.82rem; margin-top: 0.4rem; border-bottom: 1px solid #6e477e; }
.srzl-list .sp-lf { color: #333; position: absolute; left: 0; top: 0; }
.srzl-list .text { background: none; width: 4rem; height: 0.4rem; line-height: 0.4rem; margin: 0.05rem 0; font-size: 0.32rem; float: left; }
.srzl-list .Js_date {width: 100% !important;background: url(./images/jiantou.png) no-repeat right center;background-size: 0.09rem auto;color: #222;font-size: 0.32rem;}
.srzl-list .Js_date.on { color: #222; }

.abtn, .a-btn { display: block; height: 0.96rem; background: url(./images/btnbg.png) no-repeat center; background-size: auto 100%; box-shadow: 0 0.07rem 0.06rem 0 rgba(199, 168, 155, 0.15); border-radius: 0.1rem; font-size: 0.43rem; color: #fff; text-align: center; line-height: 0.96rem; letter-spacing: 0.1rem; max-width: 710px; margin: 0 auto; }

.srzl-btn { margin: 0.1rem 0.18rem 0 0.18rem; position: relative; }
.srzl-btn.mar35 { margin: 0 0.35rem; }
.srzl-btn .ptips { text-align: center; font-size: 0.24rem; color: #6e477e; margin: 0; margin-top: 0.2rem; }
.srzl-btn .ptips em { margin: 0 0.07rem; font-size: 0.28rem; color: #a10d09; }
.srzl-btn .pfkh { text-align: center; font-size: 0.22rem; color: #a12046; margin-top: -0.1rem; }

.footer { text-align: center; padding: 0.25rem 0 0.25rem 0; background-color: #f4ddd1; }
.footer p { color: #cb787b !important; font-size: 0.24rem !important; margin-bottom: 0; }

.main-title { text-align: center; }
.main-title span { display: inline-block; min-width: 2.42rem; line-height: 0.63rem; font-size: 0.36rem; color: #6e477e; position: relative; }
.main-title span:before, .main-title span:after { display: block; content: ''; width: 1.04rem; height: 0.49rem; background: url(./images/title_lf.png) no-repeat center; background-size: 100% 100%; position: absolute; left: -1.04rem; top: 0; }
.main-title span:after { left: auto; top: auto; right: -1.04rem; bottom: 0; background-image: url(./images/title_rg.png); }

.main-pic { padding: 0 0.21rem; }
.main-pic img { width: 100%; display: block; }

.fixedcs { padding: 0.07rem 0.18rem; background: rgba(255, 255, 255, 0.5); background-size: 100% 100%; position: fixed; left: 0; right: 0; bottom: 0; box-shadow: 0 -0.02rem 0.1rem 0 rgba(80, 32, 30, 0.3); display: none; z-index: 2; overflow: hidden; }

.cover-xfcs { padding-bottom: 1.1rem; }
.cover-xfcs .fixedcs { display: block; }

.nonebox { text-align: center; position: absolute; left: 0; top: 50%; margin-top: -2.5rem; width: 100%; }
.nonebox .pimg img { height: 2.06rem; }
.nonebox .ptxt { font-size: 0.24rem; color: #cb787b; margin-top: 0.28rem; }
.nonebox .ptxt em { font-weight: bold; color: #c3343a; margin: 0 0.05rem; }

html { height: 100%; }

.ymnone { height: 100%; }
.ymnone .contents { min-height: 100%; -webkit-overflow-scrolling: touch; position: relative; padding-bottom: 1.41rem; }
.ymnone .footer { position: absolute; left: 0; right: 0; bottom: 0; }

.main-ndzl { padding: 0.35rem 0 0.4rem 0; }

.zl-list { margin-top: 0.18rem; }
.zl-list .ptit { font-size: 0.24rem; color: #e52033; line-height: 0.5rem; padding-left: 1.05rem; }
.zl-list .ptit span em { font-size: 0.32rem; }
.zl-list .ptit span + span { margin-left: 1.65rem; }
.zl-list .ptips { font-size: 0.24rem; color: #cb787b; }
.zl-list .pjg { margin-top: 0.1rem; }
.zl-list .pjg span, .zl-list .pjg em { display: block; text-align: center; }
.zl-list .pjg em { font-size: 0.24rem; color: #969696; text-decoration: line-through; }
.zl-list .pjg span { font-size: 0.35rem; color: #b52550; font-weight: bold; margin-top: 0.1rem; }

.zl-txt { padding: 0.37rem 0.27rem; font-size: 0.28rem; color: #634e4e; line-height: 0.36rem; margin: 0 0.75rem; margin-top: 0.35rem; background: rgba(255, 255, 255, 0.87) url(./images/zltxt_bg.png) no-repeat; background-size: 100% 100%; }

.zl-jine { padding: 0 1rem; padding-bottom: 0.22rem; margin-top: 0.4rem; background: url(./images/tips_line.png) center bottom no-repeat; background-size: 4.3rem 1px; }
.zl-jine .ptips { text-align: center; font-size: 0.22rem; color: #a12046; margin-top: -0.25rem; }

.zspj-list { padding: 0 0.53rem; margin: 0.15rem 0 0.45rem 0; height: 8rem; overflow: hidden; position: relative; z-index: 1; }
.zspj-list ul { overflow: hidden; }
.zspj-list ul li { width: 100%; float: left; line-height: 0.4rem; padding: 0.2rem 0; background: url(./images/cmtli-bg.png) no-repeat center bottom; background-size: 100% 1px; }
.zspj-list ul li p { margin: 0; }
.zspj-list ul li .pit { font-size: 0.26rem; color: #595959; }
.zspj-list ul li .ptxt { font-size: 0.28rem; color: #000; }

.zspj-input { padding: 0 0.2rem; margin-top: 0.4rem; position: relative; }
.zspj-input input[type="text"] { display: block; border: 1px solid #e4b1af; border-radius: 0.1rem; padding: 0.1rem 0.2rem; line-height: 0.38rem; font-size: 0.26rem; height: 0.6rem; margin: 0; }
.zspj-input textarea { height: 1.3rem; border: 1px solid #e4b1af; padding: 0.15rem 0.2rem; overflow: auto; border-radius: 0.1rem; margin: 0.2rem 0 0 0; font-size: 0.26rem; }
.zspj-input .pbtn { margin-top: 0.3rem; margin-bottom: 0; padding-bottom: 0.3rem; }
.zspj-input .pbtn a { display: block; background: #e55d5d; line-height: 0.6rem; font-size: 0.26rem; color: #fff; text-align: center; border-radius: 0.1rem; }
.zspj-input .ptips { position: absolute; left: 0.2rem; right: 0.2rem; bottom: 0.9rem; text-align: center; margin: 0; }
.zspj-input .ptips span { display: inline-block; font-size: 0.26rem; color: #51a531; }
.zspj-input .ptips span:before { float: left; content: ''; width: 0.26rem; height: 0.26rem; background: url(./images/icon-tjcg.png) no-repeat; background-size: 100% auto; margin: 0.05rem 0.05rem 0 0; }
.zspj-input .ptips span.tjsb { color: #e55d5d; }
.zspj-input .ptips span.tjsb:before { background-image: url(./images/icon-tjsb.png); }

body .layui-m-layer-zf_layer { font-family: '微软雅黑'; }
body .layui-m-layer-zf_layer .layui-m-layercont { padding-top: 0.38rem; width: 5.8rem; }
body .layui-m-layer-zf_layer .zfpop_tit { text-align: center; }
body .layui-m-layer-zf_layer .zfpop_tit span { display: inline-block; font-size: 0.28rem; color: #fb4542; }
body .layui-m-layer-zf_layer .zfpop_tit span i, body .layui-m-layer-zf_layer .zfpop_tit span:before, body .layui-m-layer-zf_layer .zfpop_tit span:after { float: left; content: ''; width: 0.36rem; height: 0.14rem; background: url(./images/yqmicon.png) no-repeat; margin-top: 0.12rem; background-size: 0.35rem 0.12rem; }
body .layui-m-layer-zf_layer .zfpop_tit span i.lf, body .layui-m-layer-zf_layer .zfpop_tit span:before { margin-right: 0.1rem; }
body .layui-m-layer-zf_layer .zfpop_tit span i.rg, body .layui-m-layer-zf_layer .zfpop_tit span:after { float: right; background-image: url(./images/yqmicons.png); margin-left: 0.1rem; }
body .layui-m-layer-zf_layer .zfpop_txt { padding: 0.35rem; }
body .layui-m-layer-zf_layer .zfpop_txt p { font-size: 0.16rem; color: #333; line-height: 0.36rem; }
body .layui-m-layer-zf_layer .layui-m-layerbtn { padding: 0 0 0.4rem 0 !important; text-align: center; display: block; border: none; background: #fff; }
body .layui-m-layer-zf_layer .layui-m-layerbtn a, body .layui-m-layer-zf_layer .layui-m-layerbtn span { border: none; padding: 0; width: 1.2rem; height: 0.42rem; margin: 0 0.2rem; background: url(./images/zftcbtn1.png) no-repeat; text-indent: -9999px; background-size: 100% auto; max-width: 1.2rem; display: inline-block; }
body .layui-m-layer-zf_layer .zfpop_xbt { font-size: 0.28rem; color: #333; text-align: center; margin: 0.45rem 0; }

body .layui-m-layer-zfqr_layer { font-family: '微软雅黑'; }
body .layui-m-layer-zfqr_layer .layui-layer-btn a, body .layui-m-layer-zfqr_layer .layui-layer-btn span { width: 1.94rem; height: 0.6rem; }
body .layui-m-layer-zfqr_layer .layui-layer-btn .layui-layer-btn0 { background-image: url(./images/btnzfwc.png?v=123); }
body .layui-m-layer-zfqr_layer .layui-layer-btn .layui-layer-btn1 { background-image: url(./images/btncxzf.png?v=283); }
body .layui-m-layer-zfqr_layer .zfpop_tit span { font-size: 0.32rem; }
body .layui-m-layer-zfqr_layer .zfpop_tit span i { margin-top: 0.16rem; }

body .rmcsbox { position: relative; z-index: 1; }

.qdtop { height: 41px; }

.p_top { height: 41px; background: #fff; }

.p_top_left { float: left; }

.p_top_txt { width: 80%; float: left; line-height: 40px; font-size: 1em; text-align: center; }

.fir-title span { display: block; height: 0.73rem; background: url(./images/bg_cszl.png) no-repeat center; background-size: auto 100%; }
.fir-title span.zl { background-image: url(./images/bg_zl.png); }

.mab23 { margin-bottom: 0.23rem; }

.mat130 { margin-top: 1.3rem; }

.mat30 { margin-top: 0.3rem; }

.mat50 { margin-top: 0.5rem; }

.mat36 { margin-top: 0.36rem; }

.mat55 { margin-top: 0.55rem; }

.mat40 { margin-top: 0.4rem; }

.zyys-box { margin-top: -0.05rem; }

.zyys-list { margin: 0.4rem 0.14rem 0 0.14rem; position: relative; z-index: 1; }
.zyys-list ul { position: relative; }
.zyys-list li { float: left; padding-top: 2.3rem; }
.zyys-list .li_txt { width: 2.86rem; height: 9.27rem; position: relative; background: url(./images/ysbg-sq.png) no-repeat; background-size: 100% 100%; }
.zyys-list .li_txt p { width: 1.82rem; height: 0.82rem; line-height: 0.3rem; font-size: 0.26rem; color: #fbea9f; background: url(./images/ysli_bg.png) no-repeat; background-size: 100% auto; margin: 0 auto; padding-top: 0.11rem; text-align: center; }
.zyys-list .li_txt p + p { margin-top: 0.48rem; }
.zyys-list .li_xz { background-image: url(./images/ysbg-sqxz.png); }
.zyys-list .other { float: right; background-image: url(./images/ysbg-yy.png); }
.zyys-list .other p { background-image: url(./images/yyli_bg.png); color: #fff; }
.zyys-list .li_mid { width: 0.68rem; position: absolute; left: 50%; top: 0; margin: 0.01rem 0 0 -0.34rem; }
.zyys-list .li_mid p { width: 0.68rem; height: 0.68rem; background: url(./images/li-bg.png) no-repeat; background-size: 100% 100%; font-size: 0.22rem; color: #fbea9f; line-height: 0.24rem; margin: 0; margin-top: 0.1rem; display: table; }
.zyys-list .li_mid p + p { margin-top: 0.6rem; }
.zyys-list .li_mid span { height: 100%; display: table-cell; text-align: center; vertical-align: middle; }

.rmcsbox .xttbox_title { text-indent: -9999px; margin-bottom: 0.5rem; }
.rmcsbox .xttbox_title span { height: 0.7rem; width: 3.64rem; padding: 0; background: url(./images/rmyc.png) no-repeat 0 0; background-size: 100% 100%; display: block; margin: 0 auto; }
.rmcsbox .xttbox_title span:before, .rmcsbox .xttbox_title span:after { display: none; }
.rmcsbox .xttbox_title:before, .rmcsbox .xttbox_title:after { display: none; }

.grxx-box { margin-top: 0.11rem; padding: 0.2rem 0 0.1rem 0; }
.grxx-box .pinfro { font-size: 0.32rem; color: #333; }
.grxx-box .pinfro + .pinfro { margin-top: 0.5rem; }

.mat25 { margin-top: 0.25rem; }

.cfzs-box { margin: 0 -0.2rem; }

.zslist { margin-left: -0.32rem; }
.zslist p { float: left; width: 2.96rem; height: 0.39rem; background: url(./images/zsbg.png) no-repeat; background-size: 100% 100%; margin: 0.16rem 0 0 0.25rem; }
.zslist em { float: left; font-size: 0.21rem; color: #fff; line-height: 0.3rem; }
.zslist span { float: left; width: 0.19rem; height: 0.19rem; background: url(./images/star.png) no-repeat; background-size: 100% 100%; margin-left: 0.05rem; }
.zslist span.kong { background-image: url(./images/star_kong.png); }

.zhishu-table { margin-left: -0.3rem; }

.cover-sure .mui-dtpicker.mui-active, .cover-sure .mui-dtpicker-body, .cover-sure .mui-dtpicker-tab { visibility: hidden; }
.cover-sure .mui-dtpicker .mui-picker { opacity: 0; }
.cover-sure .pop-surebox { visibility: visible; }

.jieguo-box { padding: 0 0.26rem; position: relative; z-index: 1; }

.jieguo-tit { font-size: 0.34rem; color: #333; margin-top: 0.3rem; font-weight: bold; }

.jieguo-txt { font-size: 0.3rem; color: #333; line-height: 0.52rem; padding: 0.23rem 0 0.2rem 0; text-align: justify; }
.jieguo-txt.tra p + p { margin-top: 0.4rem; }

.jieguo-shiji { font-size: 0.3rem; color: #a10d09; line-height: 0.52rem; padding-bottom: 0.3rem; }

.jieguo-time { margin-top: 0.26rem; }
.jieguo-time span { display: inline-block; width: 1.46rem; line-height: 0.48rem; text-align: center; font-size: 0.26rem; color: #a10d09; border: 1px solid #a10d09; border-radius: 0.1rem; }
.jieguo-time span + span { margin-left: 0.13rem; }

.main .people { padding: 0.1rem 0.36rem 0 0.36rem; color: #6e477e; text-align: center; position: relative; z-index: 1; }
.main .people em { color: #a10d09; }
.main .ziliaos-box .name-list { background: #fff; border-radius: 0.1rem; }
.main .cszhifu-box { background: #fff; border-radius: 0.1rem; }
.main .zfdivtips { color: #b70000; position: relative; }

.ie8 .fixedcs, .ie8 .top { background: url(./images/btna.png); background-size: auto 100%; }

.bg-box { margin: 0.75rem 0.2rem 0 0.2rem; padding-bottom: 0.45rem; border: 2px solid #1f7f85; border-radius: 3px; background: url(./images/boxbg.png); background-size: auto 0.32rem; position: relative; }
.bg-box:before { display: block; content: ''; position: absolute; left: 50%; top: -0.28rem; width: 4.66rem; height: 0.28rem; margin-left: -2.33rem; background: url(./images/boxbg.png); background-size: auto 0.32rem; }
.bg-box:after { display: block; content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 0.95rem; background: url(./images/boxbg_bt.png); background-size: 100% 100%; }

.wen { position: relative; }
.wen:before { display: block; content: ''; position: absolute; right: 0; top: 3rem; width: 2.32rem; height: 11.89rem; background: url(./images/shubg.png) no-repeat; background-size: 100% 100%; }
.wen.wz0:before { top: 0; }
.wen.mawen:before { top: 0.2rem; }
.wen.dzf:before { top: 3.2rem; }

.sec-title { text-align: center; margin-top: -0.46rem; position: relative; z-index: 1; }
.sec-title span { display: inline-block; width: 5.7rem; height: 0.91rem; padding-top: 0.23rem; font-size: 0.38rem; color: #1f7f85; text-align: center; background: url(./images/sec_bg.png); background-size: 100% 100%; }
.sec-title .chang { width: 6.1rem; background-image: url(./images/secs_bg.png); }

.zhuding-list { margin: 0.1rem 0 0.7rem 0; position: relative; }
.zhuding-list ul { position: relative; }
.zhuding-list li { width: 3.1rem; height: 2.2rem; position: relative; float: left; margin: 0.3rem 0 0 0.27rem; }
.zhuding-list li img { height: 2.2rem; }
.zhuding-list:before, .zhuding-list:after { display: block; content: ''; position: absolute; background-size: 100% 100%; }
.zhuding-list:before { left: 0.1rem; top: -0.64rem; width: 0.57rem; height: 0.85rem; background-image: url(./images/feng.png); }
.zhuding-list:after { left: 0.28rem; bottom: -1.66rem; width: 1.32rem; height: 1.66rem; background: url(./images/feng2.png) bottom; background-size: 100% auto; }

.nao-list { margin: 0.2rem 0.15rem 0 0.15rem; position: relative; z-index: 1; }
.nao-list li { width: 100%; float: left; }
.nao-list li p { float: left; }
.nao-list .fan .picon { float: right; }
.nao-list .fan .ptxt { float: left; margin-right: 0; margin-left: 0.13rem; background-image: url(./images/naobg_fan.png); }
.nao-list .last .ptxt { height: 1.66rem; background-image: url(./images/naobg_last.png); }
.nao-list .picon img { width: 1.8rem; }
.nao-list .ptxt { width: 4.7rem; height: 1.26rem; float: right; margin: 0.32rem 0.13rem 0 0; display: table; background: url(./images/naobg.png); background-size: 100% 100%; }
.nao-list .ptxt span { display: table-cell; vertical-align: middle; }
.nao-list .ptxt em { display: block; font-size: 0.28rem; color: #6e477e; line-height: 0.42rem; padding-left: 0.18rem; }
.nao-list:before { display: block; content: ''; position: absolute; right: 0; top: -0.85rem; width: 0.78rem; height: 0.79rem; background: url(./images/feng3.png); background-size: 100% 100%; }

.aomai-text { font-size: 0.28rem; color: #333; line-height: 0.5rem; padding: 0 0.25rem; margin: 0.25rem 0 0.2rem 0; }

.aomi-list { position: relative; z-index: 1; }
.aomi-list li { float: left; width: 0.73rem; height: 3.45rem; background: url(./images/aomi_bg.png); background-size: 100% 100%; font-size: 0.34rem; color: #fff; margin-left: 0.255rem; padding: 0.71rem 0.23rem 0 0.16rem; line-height: 0.36rem; }

.youshi-bg { position: absolute; left: 0; right: 0; top: 0; height: 4.98rem; background: url(./images/youshi_bg.png); background-size: 100% 100%; }

.mainlfbg { position: relative; }
.mainlfbg:before { display: block; content: ''; position: absolute; left: 0; top: 3.9rem; width: 2.85rem; height: 15.28rem; background: url(./images/shulf_bg.png); background-size: 100% 100%; }
.mainlfbg.dzf:before { top: 1.44rem; }

.mingpan-list { margin: 0.3rem 0.07rem 0.3rem 0.07rem; border: 2px solid #880d0a; background-color: #fef9eb; position: relative; z-index: 1; }
.mingpan-list li { width: 100%; float: left; }
.mingpan-list li p { float: left; width: 20%; text-align: center; height: 0.69rem; font-size: 0.28rem; color: #a10d09; }
.mingpan-list li p + p { border-left: 1px solid #a10d09; }
.mingpan-list li .pfir { background-color: #deaa4e; color: #fff; }
.mingpan-list li + li { border-top: 1px solid #a10d09; }
.mingpan-list .first { background-color: #deaa4e; }
.mingpan-list .first p { color: #fff; }

.taohua-list li p { width: 25%; }
.taohua-list li .plast { line-height: 0.3rem; padding-top: 0.05rem; height: 0.69rem; }

.dzf-text { padding: 0 0.08rem; margin-top: 0.3rem; position: relative; z-index: 1; }
.dzf-text .divimg { position: relative; }
.dzf-text .divimg img { width: 100%; display: block; }
.dzf-text .divtxt { position: absolute; left: 0; top: 0; right: 0; bottom: 0; padding: 0 0.45rem; }
.dzf-text .divtxt p { display: table; height: 100%; }
.dzf-text .divtxt span { font-size: 0.26rem; color: #333; line-height: 0.4rem; display: table-cell; vertical-align: middle; }
.dzf-text .divbtn { margin-top: 0.3rem; }
.dzf-text .divbtn a { display: block; width: 1.8rem; line-height: 0.62rem; text-align: center; margin: 0 auto 0.1rem auto; font-size: 0.3rem; color: #fff; background-color: #a10d09; border-radius: 100px; }
.dzf-text .abbtn a { position: absolute; left: 50%; top: 50%; margin: 0 0 0 -0.9rem; }

.newbtn { position: relative; }

/*# sourceMappingURL=baziyy.css.map */
.public_ht_title {
	border-bottom: 1px solid #d3d3d3;
	line-height: 24px;
	padding: 10px;
	color: #000;
	font-weight: 800;
	text-align: center;
	font-size: 16px;
}
.public_ht_ul {position: relative;overflow: hidden;padding:15px 0 0 0;}
.public_ht_ul li {float: left;width: 25%;margin-bottom: 10px;}
.public_ht_ul li a {display: block;}
.public_ht_ul li img {display:block;width:70%;margin:0 auto;}
.public_ht_ul li p {line-height: 24px;height: 26px;font-size: 15px;color: #ad6409;text-align: center;overflow: hidden;}
.public_footer_servers {
	overflow: hidden;
	width: 100%;
	text-align: center;
	color: #6c6c6c;
	padding-top: 0px;
	font-size: 12px;
	padding-bottom: 70px!important;
	background: #f9efea;
}

.public_footer_servers a {
	color: #6c6c6c
}
.public_hot_test{padding: 10px;background: #f9efea;}
.lunpan_color{width:100%;height:100%;position:fixed;left:0;top:0;z-index:100;opacity:.7;background-color:#000;transition:opacity .5s;}
.lunpan{width:170px;height:170px;margin:0 auto;position:fixed;top:40%;left:50%;z-index:105;margin-left:-85px;vertical-align:middle;}
.lunpan img:nth-of-type(1){width:170px;height:170px;-webkit-animation: rotate 4s linear infinite;animation: rotate 4s linear infinite;}
.lunpan img:nth-of-type(2){width:20px;height:140px;position:fixed;top:42%;left:50%;margin:0 auto;margin-left:-10px;animation: rotate2 4s linear infinite;}
@-webkit-keyframes rotate2{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes rotate{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
.protocol_pop_box {
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none
}

.ppb_content {
	width: 80%;
	height: 80%;
	padding: 40px 0;
	border: 1px solid #ccc;
	position: relative;
	background-color: #fff;
	box-sizing: border-box;
	top: 10%;
	left: 10%
}

.ppb_text {
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid #ccc
}

.ppb_text p {
	margin-top: 8px
}

.ppb_close,.ppb_title {
	position: absolute;
	width: 100%;
	height: 40px;
	left: 0;
	line-height: 40px;
	text-align: center
}

.ppb_title {
	top: 0;
	font-size: 16px
}

.ppb_close {
	bottom: 0
}

.ppb_close b {
	display: block;
	width: 50px;
	height: 24px;
	margin: 8px auto 0;
	border: 1px solid #ccc;
	line-height: 24px;
	border-radius: 5px
}