﻿/* 公共样式底部 */
.footer_severs {
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #6c6c6c;
    padding-bottom: 20px;
    padding-top: 16px;
    font-size: 14px;
    background-color: #fffdf1;
    margin-top: .44rem;
}
.ocrloader {
    width: 140px;
    height: 140px;
    position: relative;
    margin: 0 auto 5px;
}
.ocrloader img{
    width: 140px;
    height: 140px;
}
.ocrloader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(45, 183, 183, 0.54);
    z-index: 1;
    animation: move 1.5s infinite;
    -webkit-animation: move 1.5s infinite;
}
.ocrloader:before,
.ocrloader:after,
.ocrloader em:after,
.ocrloader em:before {
    border: 0 solid rgb(45, 183, 183);
    content: "";
    position: absolute;
    width: 19px;
    height: 16px;
}
.ocrloader:before {
    left: 0;
    top: 0;
    border-left-width: 1px;
    border-top-width: 1px;
}
.ocrloader:after {
    right: 0;
    top: 0;
    border-right-width: 1px;
    border-top-width: 1px;
}
.ocrloader em:before {
    left: 0;
    bottom: 0;
    border-left-width: 1px;
    border-bottom-width: 1px;
}
.ocrloader em:after {
    right: 0;
    bottom: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
}
@keyframes move {
    from {top: 0px;}
    to {top: 130px;}
}
/* Safari and Chrome */
@-webkit-keyframes move {
    from {top: 0px;}
    to {top: 130px;}
}