﻿@charset "utf-8";
.container {
    background: #ffe7e8;
}
.comWidth {
    width: 95%;
    margin: 0 auto;
}
.title-icon {
    width: 5.14rem;
    height: .88rem;
    background: url('../images/bbqm-title.png');
    background-size: 100% 100%;
    position: absolute;
    top: -.44rem;
    left: 50%;
    margin-left: -2.57rem;
    font-size: .4rem;
    color: #fff;
    text-align: center;
    line-height: .88rem;
}
.matchman {
    margin: .22rem 0;
}
/* 信息填写 */
.information-list {
    border-radius: 5px;
    background: #fff;
    border: 2px solid #eee1d5;
}
.information-list li {
    border-bottom: 1px solid #eee1d5;
    width: 100%;
    font-size: .3rem;
    color: #939393;
    height: .8rem;
    line-height: .8rem;
    padding-left: .12rem;
}
.information-list li:last-child {
    border-bottom: none;
}
.information-list li>div {
    color: #f95959;
    font-size: .32rem;
    padding-right: .27rem;
}
.input-text {
    font-size: .3rem;
}
input:-ms-input-placeholder{
    color: #939393;
}
input::-webkit-input-placeholder {
    color: #939393;
}
.selected-icon {
    width: .33rem;
    height: .33rem;
    margin-right: 0.13rem;
}
.sex-man {
    margin-right: .98rem;
}
.born {
    margin-right: 0.34rem;
}
.sex-man p,
.sex-woman p,
.born p,
.unborn p{
    color: #494745;
}
.dates {
    background: url('../images/calendar-icon.png') 90% center no-repeat;
    background-size: 9% auto;
}
/* 测算按钮 */
.start-btn {
    margin: .3rem .42rem;
}
/* 测算人数 */
.total {
    font-size: .3rem;
    color: #303030;
    text-align: center;
}
.total i {
    font-size: .35rem;
    color: #f95959;
}
.list_item {
    position: relative;
    margin-top: .82rem;
}
.user-feedback {
    background-color: #fff;
    margin-top: .82rem;
    padding: .99rem 0 .58rem;
    border-radius: 5px;
    position: relative;
}
.last-information {
    margin-top: .46rem;
    padding-bottom: 1px;
}
.last-information .start-btn {
    margin-top: .2rem;
}
.footer-logo {
    background: #fff;
    padding-top: .36rem;
    padding-bottom: 1.57rem;
}