﻿@charset "utf-8";
/*公共样式*/
* {
	padding:0px;
	margin: 0px;
	box-sizing: border-box;
	font-family:"Microsoft YaHei",'Arial','Helvetica','sans-serif';
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}
.clearfix {
	zoom:1;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
i,em {
	font-style:normal;
}
b {
	font-weight: normal;
	display:block;
}
a {
	text-decoration: none;
	display:block;
	/*去掉移动端点击的效果*/
	-webkit-tap-highlight-color:rgba(255,0,0,0)
}
input, textarea, button {
	outline: none;
	border: none;
}
button {
	background:none;
}
li {
	list-style: none;
}

