<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <title>2021年星座运势详解_12星座2021年运势查询-<{$zhanming}></title>
	<meta name="keywords" content="2021年星座运势详解,12星座2021年运势查询,2021年每月星座运势大全">
	<meta name="description" content="2021年星座运势专题主要是提供12星座2021年运势查询等内容，包含12星座2021年每月运势、爱情运、事业运、财运、健康运等内容，帮您提前预知未来运势。">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/common.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/result_2.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/alert.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/loading.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/success.css">
    <script type="text/javascript" src="/statics/ffsm/xingzuo/css/rem.js"></script>
</head>
<body>
<header class="public_header">
<h1 class="public_h_con">星座运势</h1>
<a class="public_h_home" href="/"></a><a href="/?ac=history" class="public_h_menu">我的订单</a></header>
<section class="alert" style="display: none">
    <div class="alert-wrap flex-column">
        <div class="alert-box flex-column">
            <div class="alert-banner-box flex-center">
                <img class="close-btn" src="/statics/ffsm/xingzuo/img/close_btn.png">
                <img class="alert-banner" src="/statics/ffsm/xingzuo/img/banner.png">
                <div class="banner-desc flex-column">
                    <p class="banner-title">选择星座</p>
                    <p class="banner-tips">查看对应星座的2021运势</p>
                </div>
            </div>
            <div class="alert-item flex-row">
                <div class="star-item flex-column" data-star="1">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s1.png">
                    <span class="star-name">白羊座</span>
                    <span class="star-time">3.21-4.19</span>
                </div>
                <div class="star-item flex-column" data-star="2">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s2.png">
                    <span class="star-name">金牛座</span>
                    <span class="star-time">4.20-5.20</span>
                </div>
                <div class="star-item flex-column" data-star="3">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s3.png">
                    <span class="star-name">双子座</span>
                    <span class="star-time">5.21-6.21</span>
                </div>
                <div class="star-item flex-column" data-star="4">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s4.png">
                    <span class="star-name">巨蟹座</span>
                    <span class="star-time">6.22-7.22</span>
                </div>
            </div>
            <div class="alert-item flex-row">
                <div class="star-item flex-column" data-star="5">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s5.png">
                    <span class="star-name">狮子座</span>
                    <span class="star-time">7.23-8.22</span>
                </div>
                <div class="star-item flex-column" data-star="6">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s6.png">
                    <span class="star-name">处女座</span>
                    <span class="star-time">8.23-9.22</span>
                </div>
                <div class="star-item flex-column" data-star="7">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s7.png">
                    <span class="star-name">天秤座</span>
                    <span class="star-time">9.23-10.23</span>
                </div>
                <div class="star-item flex-column" data-star="8">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s8.png">
                    <span class="star-name">天蝎座</span>
                    <span class="star-time">10.24-11.22</span>
                </div>
            </div>
            <div class="alert-item flex-row">
                <div class="star-item flex-column" data-star="9">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s9.png">
                    <span class="star-name">射手座</span>
                    <span class="star-time">11.23-12.21</span>
                </div>
                <div class="star-item flex-column" data-star="10">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s10.png">
                    <span class="star-name">摩羯座</span>
                    <span class="star-time">12.22-1.19</span>
                </div>
                <div class="star-item flex-column" data-star="11">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s11.png">
                    <span class="star-name">水瓶座</span>
                    <span class="star-time">1.20-2.18</span>
                </div>
                <div class="star-item flex-column" data-star="12">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s12.png">
                    <span class="star-name">双鱼座</span>
                    <span class="star-time">2.19-3.20</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page" style="padding-bottom: 1.6rem;">
    <section class="main-wrap flex-column">
        <div class="banner-wrap flex-column">
            <div class="xinzuo-wrap flex-center">
                <img class="xinzuo-name" src="/statics/ffsm/xingzuo/img/<{$data.data.img}>.png">
            </div>
            <img class="banner" src="/statics/ffsm/xingzuo/img/banner.png">
        </div>

        <div class="title-wrap flex-center">
            <img class="first-title" src="/statics/ffsm/xingzuo/img/main_01.png">
        </div>

        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="base-title" src="/statics/ffsm/xingzuo/img/base_01.png">
                <div class="row flex-row">
                    <span class="col-l flex-row-2">个人特点：<em><{$data.base.td}></em></span>
                    <span class="col-r flex-row-2">四象属性：<em><{$data.base.sixiang}></em></span>
                </div>
                <div class="row flex-row">
                    <span class="col-l flex-row-2">掌管宫位：<em><{$data.base.gongwei}></em></span>
                    <span class="col-r flex-row-2">阴阳属性：<em><{$data.base.yinyang}></em></span>
                </div>
                <div class="row flex-row">
                    <span class="col-l flex-row-2">最强特征：<em><{$data.base.strong}></em></span>
                    <span class="col-r flex-row-2">守&ensp;护&ensp;星：<em><{$data.base.shouhu}></em></span>
                </div>
                <div class="row flex-row">
                    <span class="col-l flex-row-2">吉祥饰物：<em><{$data.base.jixiang}></em></span>
                    <span class="col-r flex-row-2">开运金属：<em><{$data.base.jinshu}></em></span>
                </div>
                <div class="row flex-row">
                    <span class="col-l flex-row-2">幸运数字：<em><{$data.base.number}></em></span>
                    <span class="col-r flex-row-2">幸运顔色：<em><{$data.base.yanse}></em></span>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="base-title" src="/statics/ffsm/xingzuo/img/base_02.png">
                <div class="overview flex-column-1">
                    <span>性格关键字：</span>
                    <p><{$data.base.keyword}></p>
                </div>
                <div class="overview flex-column-1">
                    <span>基础性格：</span>
                    <p><{$data.base.xingge}></p>
                </div>
                <div class="overview flex-column-1">
                    <span>优点缺点：</span>
                    <p><{$data.base.youquedian}></p>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="base-title" src="/statics/ffsm/xingzuo/img/base_03.png">
                <div class="char-item flex-column-1">
                	<{$data.base.zhongyao}>
                </div>
            </div>
        </div>


        <div class="title-wrap flex-center">
            <img class="guide-title" src="/statics/ffsm/xingzuo/img/main_02.png">
        </div>

        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="love-title" src="/statics/ffsm/xingzuo/img/love_01.png">
                <div class="view-love flex-column-1">
                    <div class="line flex-row-2">
                        <span>综合评分：</span>
                        <div class="star-line flex-row-2" id="love_star"></div>
                    </div>
                    <div class="line flex-row-1 lines">
                        <span>星座匹配：</span>
                        <p><em><{$data.data.xz}></em>配<em><{$data.aq.peidui}></em></p>
                        <!---->
                    </div>
                    <div class="line flex-row-1 lines">
                        <span>主动被动：</span>
                        <p>你仅有<{$data.aq.master}>%的主动权</p>
                    </div>
                    <div class="line flex-row-1">
                        <span>简短总评：</span>
                        <p><{$data.aq.txt}></p>
                    </div>
                </div>
                <img src="/statics/ffsm/xingzuo/img/<{$data.aq.line}>" class="star_line">
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <div class="content-love flex-column">
                    <img class="love-title" src="/statics/ffsm/xingzuo/img/love_02.png">
                    <div class="content flex-column-1">
                        <p><{$data.aq.jiyu}></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <div class="content-love flex-column">
                    <img class="love-title" src="/statics/ffsm/xingzuo/img/love_03.png">
                    <div class="content flex-column-1">
                        <p><{$data.aq.taohua}> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="love-title" src="/statics/ffsm/xingzuo/img/love_04.png">
                <div class="content-love flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.aq.ganqing}></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="title-wrap flex-center">
            <img class="guide-title" src="/statics/ffsm/xingzuo/img/main_03.png">
        </div>

        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="cash-title" src="/statics/ffsm/xingzuo/img/cash_01.png">
                <div class="view-cash flex-column-1">
                    <div class="line flex-row-2">
                        <span>综合评分：</span>
                        <div class="star-line flex-row-2" id="cash_star"></div>
                    </div>
                    <div class="line flex-row-1 lines">
                        <span>财运高点：</span>
                        <p><{$data.cy.gaodian}></p>
                    </div>
                    <div class="line flex-row-1 lines">
                        <span>低谷时期：</span>
                        <p><{$data.cy.didian}></p>
                    </div>
                    <div class="line flex-row-1">
                        <span>简短总评：</span>
                        <p><{$data.cy.txt}></p>
                    </div>
                </div>
                <img src="/statics/ffsm/xingzuo/img/<{$data.cy.line}>" class="star_line">
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="cash-title" src="/statics/ffsm/xingzuo/img/cash_02.png">
                <div class="content-cash flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.cy.zong}></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="cash-title" src="/statics/ffsm/xingzuo/img/cash_03.png">
                <div class="content-cash flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.cy.touzi}></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="cash-title" src="/statics/ffsm/xingzuo/img/cash_04.png">
                <div class="content-cash flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.cy.zhichu}></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-wrap flex-center">
            <img class="guide-title" src="/statics/ffsm/xingzuo/img/main_04.png">
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="job-title" src="/statics/ffsm/xingzuo/img/job_01.png">
                <div class="view-job flex-column-1">
                    <div class="line flex-row-2">
                        <span>综合评分：</span>
                        <div class="star-line flex-row-2" id="job_star"></div>
                    </div>
                    <div class="line flex-row-1 lines">
                        <span>遇到贵人：</span>
                        <p><{$data.sy.guiren}></p>
                    </div>
                    <div class="line flex-row-1 lines">
                        <span>低谷时期：</span>
                        <p><{$data.sy.didian}></p>
                    </div>
                    <div class="line flex-row-1">
                        <span>简短总评：</span>
                        <p><{$data.sy.txt}></p>
                    </div>
                </div>
                <img src="/statics/ffsm/xingzuo/img/<{$data.sy.line}>" class="star_line">
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="job-title" src="/statics/ffsm/xingzuo/img/job_02.png">
                <div class="content-cash flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.sy.zong}></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="job-title" src="/statics/ffsm/xingzuo/img/job_03.png">
                <div class="content-cash flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.sy.work}></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap flex-center">
            <div class="content-box flex-column">
                <img class="job-title" src="/statics/ffsm/xingzuo/img/job_04.png">
                <div class="content-cash flex-column">
                    <div class="content flex-column-1">
                        <p><{$data.sy.zy}></p>
                    </div>
                </div>
            </div>
        </div>

      <div class="comment-box flex-column"   >
            <div class="content-panel flex-column">
                <img class="comment-title" src="/statics/ffsm/xingzuo/img/title_comment.png">
                <div class="edit-wrap flex-center">
                    <textarea class="comment-text" id="comment_content" placeholder="请在下方留下您真实的评价和建议，我们将在您的督促下不断提升服务品质。" maxlength="50" rows="5" onblur="scrollToBottom()"></textarea>
                </div>
                <img class="submit-img" id="submit_img" src="/statics/ffsm/xingzuo/img/submit_btn.png" alt="提交">
            </div>
        </div>

<style type="text/css">
.public_header {
    height: 1.5rem;
    line-height: 1.5rem;
    background: #1a1933;
    width: 100%;
    position: relative;
}

.public_h_logo {
	position: absolute;
	left: 10px;
	height: 44px;
	top: 0;
	display: block
}

.public_h_logo img {
	height: 100%;
	display: block
}

.public_h_con {
	text-align: center;
	font-size: 0.6rem;
	color: #ffffff;
}

.public_h_home {
	position: absolute;
	width: 0.9rem;
	height: 0.9rem;
	top: 0;
	left: 0
}

.public_h_menu {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.3rem;
    width: 2rem;
    line-height: 0.68rem;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.09rem;
    text-decoration: none;
}

.public_h_home:after {
	content: '';
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0.3rem;
	left: 0.4rem;
	background-image: url("/statics/ffsm/public/images/icon_home_bai.png");
}
</style>
</section>
    <div class="toast-wrap flex-center">
        <div class="toast-box flex-center">
            <span></span>
        </div>
    </div>

    <div class="float-wrap flex-center">
        <div class="float-btn flex-center">
            <img class="stars-btn" src="/statics/ffsm/xingzuo/img/stars_btn.png">
        </div>
    </div>
    <div class="success-wrap flex-center" style="display:none;">
        <div class="success-box flex-column">
            <div class="success-banner flex-column">
                <img class="banners" src="/statics/ffsm/xingzuo/img/banner.png">
            </div>
            <div class="owner-wrap flex-column">
                <span class="owner flex-center"><em><{$data.data.username}></em>的</span>
                <span class="owner-2 flex-center">2021运势分析已购买</span>
            </div>
            <span class="over-text flex-center">正在进入...</span>
        </div>
    </div>

</section>

</body>

<script type="text/javascript" src="/statics/ffsm/xingzuo/css/jquery.min.js"></script>
<script type="text/javascript" src="/statics/ffsm/xingzuo/css/jquery.raty.min.js"></script>
<script src="/statics/ffsm/xingzuo/css/zwSdk.js"></script>
<script>
    $(function () {
        var u = navigator.userAgent, app = navigator.appVersion;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1;
        var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        if (isAndroid) {

        }
        if (isIOS) {
            $('.page span').css({'font-size': '18px'});
            $('.page p').css({'font-size': '16px'});
            $('.page em').css({'font-size': '16px'});
            $('.row span em').css({'font-size': '16px'});
        }
        setTimeout(function () {
            $('.spinner-wrap').fadeOut();
        },300)
    });
    $('.toast-wrap').hide();
    //初始化星级
    var love_on = '<{$data.zh_on.love_on}>';
	love_on = Number(love_on);
	var cash_on = '<{$data.zh_on.cash_on}>';
	cash_on = Number(cash_on);
	var job_on = '<{$data.zh_on.job_on}>';
	job_on = Number(job_on);
    var love_on_m = parseInt(love_on);
    var love_bool = love_on_m<love_on?true:false;
    var cash_on_m = parseInt(cash_on);
    var cash_bool = cash_on_m<cash_on?true:false;
    var job_on_m = parseInt(job_on);
    var job_bool = job_on_m<job_on?true:false;
    initStar();
    function initStar() {
        for (var i = 0; i < 5; i++) {
            if(i<love_on_m){
                $('#love_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_d.png'>");
            }else{
                if(love_bool){
                    $('#love_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_d_0.png'>");
                    love_bool = false;
                }else{
                    $('#love_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_a.png'>");
                }
            }
            if(i<cash_on_m){
                $('#cash_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_c.png'>");
            }else{
                if(cash_bool){
                    $('#cash_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_c_0.png'>");
                    cash_bool = false;
                }else{
                    $('#cash_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_a.png'>");
                }
            }
            if(i<job_on_m){
                $('#job_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_b.png'>");
            }else{
                if(job_bool){
                    $('#job_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_b_0.png'>");
                    job_bool = false;
                }else{
                    $('#job_star').append("<img class='star' src='/statics/ffsm/xingzuo/img/star_a.png'>");
                }
            }
        }
    }

    //字符替换
    var lines = document.getElementsByClassName('lines');
    for (var i = 0; i < lines.length; i++) {
        var str = lines[i].getElementsByTagName('p')[0].innerText;
        var flag_1 = false;
        var flag_2 = false;
        var flag_3 = false;
        str = str.replace(/\d+至\d+月/g, function () {
            if(arguments.length){
                flag_1 = true;
                flag_3 = true;
            }
            return '<em>' + arguments[0]+'</em>';
        });
        if(!flag_3){
            str = str.replace(/\d+月/g, function () {
                if(arguments.length){
                    flag_1 = true;
                }
                return '<em>' + arguments[0]+'</em>';
            });
        }
        str = str.replace(/\d+%/g, function () {
            if(arguments.length){
                flag_2 = true;
            }
            return '<em>' + arguments[0]+'</em>';
        });
        if(flag_1){
            lines[i].getElementsByTagName('p')[0].innerHTML = str;
        }
        if(flag_2){
            lines[i].getElementsByTagName('p')[0].innerHTML = str;
        }

    }

    //--初始化评论区--//
    var scores = 5;
    $(function () {
        $.fn.raty.defaults.path = '/statics/ffsm/xingzuo/img/expres_01.png';
        $('#star').raty({
            score: 5,
            click: function (score, e) {
                scores = parseInt(score);
                if (scores == 1) {
                    $("#emoji").attr('src', "/statics/ffsm/xingzuo/img/expres_01.png");
                    $("#emoji_desc").text("失望");
                } else if (scores == 2) {
                    $("#emoji").attr('src', "/statics/ffsm/xingzuo/img/expres_02.png");
                    $("#emoji_desc").text("不满");
                } else if (scores == 3) {
                    $("#emoji").attr('src', "/statics/ffsm/xingzuo/img/expres_03.png");
                    $("#emoji_desc").text("一般");
                } else if (scores == 4) {
                    $("#emoji").attr('src', "/statics/ffsm/xingzuo/img/expres_04.png");
                    $("#emoji_desc").text("满意");
                } else if (scores == 5) {
                    $("#emoji").attr('src', "/statics/ffsm/xingzuo/img/expres_05.png");
                    $("#emoji_desc").text("非常满意");
                }
            }
        });
        var temp_name = "";
        $('#un_name').click(function (e) {
            var comment_nickname = "匿名";
            var cn_name = $('#un_name').prop("checked");
            if (cn_name) {
                temp_name = $("#nickname").val();
                $("#nickname").val("匿名");
                $("#nickname").attr("readonly", "readonly");
            } else {
                if (comment_nickname == "") {
                    $("#nickname").val(temp_name);
                    $("#nickname").removeAttr("readonly");
                } else {
                    $("#nickname").val(temp_name);
                    $("#nickname").removeAttr("readonly");
                }
            }
        })
        $('#comment_content').keyup(function () {
            /* Act on the event */
            var maxLength = 50;
            var len = $('#comment_content').val().length;
            if (len > maxLength - 1) {
                var res = $(this).val().substring(0, 50);
                $(this).val(res);
                showToast("评论字数不超过50字");
            }
        });
    });

    $('.stars-btn').click(function () {
        $('.alert').fadeIn();
    });
    $('.close-btn').click(function () {
        $('.alert').fadeOut();
    });
    var stars = ["白羊座","金牛座","双子座","巨蟹座","狮子座","处女座","天秤座","天蝎座","射手座","摩羯座","水瓶座","双鱼座"];
    var starid = 1;
    $('.star-item').click(function (event) {
        starid = parseInt(event.currentTarget.dataset.star);
        var star_name_old = "金牛座";
        var star_name_new = stars[starid-1];
        $('.owner em').text(stars[starid-1]);
        if(star_name_old ==star_name_new){
            $('.alert').fadeOut();
            return null;
        }

        $.ajax({
            url: "/?ac=adddcorder",
            method: 'POST',
            data: {
                src: '1001',
                starid: starid
            },
            success: function (res) {
                res = JSON.parse(res);
                var orderId = res.orderId;
                var src = '1171';
                var paystatus = parseInt(res.paystatus);
                if(paystatus===1){
                    $('.success-wrap').fadeIn();
                    setTimeout(function () {
                        window.location.href = "/?ac=xingzuo&oid=" + orderId + '&src=' + src;
                        setTimeout(function () {
                            $('.success-wrap').hide();
                        },1000)
                    }, 1500);
                }else{
                    window.location.href = "/?ac=xingzuo&oid="+ orderId + "&src=" + src;
                }
                $('.alert').fadeOut();

            },
            fail: function (err) {
                console.log(err);
                $('.alert').fadeOut();
            }
        });
    });

    function forbidWord(e) {
        var t = ["QQ"],
            a = 0, n = e.replace(/(^\s*)|(\s*$)|(\s)/g, "");
        for (i = 0; i < t.length; i++) -1 != n.indexOf(t[i]) && a++;
        return 0 != a
    }

    function checkNameData() {
        var n = $("#nickname").val();
        if (!n) {

            showToast("您还没有填写昵称！");
            return false;
        }

        if (forbidWord(n)) {
            showToast("您填写的昵称属于敏感词彙");
            return false;
        }
        if (n.length > 8) {
            showToast("您的昵称超出字数限制");
            return false;
        }
        return true;
    }

    function checkCommentData() {
        var n = $("#comment_content").val();
        if (!n) {
            showToast("您还没有填写评论！");
            return false;
        }
        if (forbidWord(n)) {
            showToast("您填写的内容含有敏感词彙");
            return false;
        }
        return true;
    }

    function showToast(msg) {
        $('.toast-wrap').fadeIn();
        $('.toast-wrap span').addClass('toast');
        $('.toast-wrap span').text(msg);
        setTimeout(function () {
            $('.toast-wrap').fadeOut();
        }, 1200);
    }

    $('#submit_img').click(function() {
        var un_name = $('#un_name').prop("checked");
        var is_nickname = $('#un_name').prop("checked") ? true : checkNameData();
        var is_comment_content = checkCommentData();
        var nicknames = un_name ? '匿名' : $("#nickname").val();
        if (is_nickname && is_comment_content) {
            $.ajax({
                url: "/",
                method: 'POST',
                data: {
                    comment: $("#comment_content").val(),
                    order_id: '19032809431207d35b62751',
                    nickname: nicknames,
                    score: scores
                },
                success: function (res) {
                    $('.comment-box').fadeOut(1000);
                    showToast("感谢您的评价！");
                },
                fail: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function scrollToBottom() {
        window.scrollTo(0,document.body.scrollHeight);
    }
</script>


	<script type="text/javascript" src="/statics/ffsm/taluo/yunshi/jquery.min.js"></script>

<{include file='./ffsm/footer.tpl'}>
<{include file='./ffsm/dl_ck.tpl'}>
</html>