<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <title>2021年星座运势详解_12星座2021年运势查询-<{$zhanming}></title>
	<meta name="keywords" content="2021年星座运势详解,12星座2021年运势查询,2021年每月星座运势大全">
	<meta name="description" content="2021年星座运势专题主要是提供12星座2021年运势查询等内容，包含12星座2021年每月运势、爱情运、事业运、财运、健康运等内容，帮您提前预知未来运势。">
	<{include file='./ffsm/wx_share.tpl'}>
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/common.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/index_2.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/alert.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/loading.css">
    <link rel="stylesheet" href="/statics/ffsm/xingzuo/css/success.css">
    <script type="text/javascript" src="/statics/ffsm/xingzuo/css/rem.js"></script>
</head>
<body>
<header class="public_header">
<h1 class="public_h_con">星座运势</h1>
<a class="public_h_home" href="/"></a><a href="/?ac=member" class="public_h_menu">个人中心</a></header>
<style type="text/css">
.public_header {
    height: 1.5rem;
    line-height: 1.5rem;
    background: #1a1933;
    width: 100%;
    position: relative;
}

.public_h_logo {
	position: absolute;
	left: 10px;
	height: 44px;
	top: 0;
	display: block
}

.public_h_logo img {
	height: 100%;
	display: block
}

.public_h_con {
	text-align: center;
	font-size: 0.6rem;
	color: #ffffff;
}

.public_h_home {
	position: absolute;
	width: 0.9rem;
	height: 0.9rem;
	top: 0;
	left: 0
}

.public_h_menu {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.3rem;
    width: 2rem;
    line-height: 0.68rem;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.09rem;
    text-decoration: none;
}

.public_h_home:after {
	content: '';
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0.3rem;
	left: 0.4rem;
	background-image: url("/statics/ffsm/public/images/icon_home_bai.png");
}
</style>
<section class="alert" style="display: none;">
    <div class="alert-wrap flex-column">
        <div class="alert-box flex-column">
            <div class="alert-banner-box flex-center">
                <img class="close-btn" src="/statics/ffsm/xingzuo/img/close_btn-v=1.0.png">
                <img class="alert-banner" src="/statics/ffsm/xingzuo/img/banner-v=1.0.png">
                <div class="banner-desc flex-column">
                    <p class="banner-title">选择星座</p>
                    <p class="banner-tips">查看对应星座的2021运势</p>
                </div>
            </div>
            <div class="alert-item flex-row">
                <div class="star-item flex-column" data-star="1">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s1-v=1.1.png">
                    <span class="star-name">白羊座</span>
                    <span class="star-time">3.21-4.19</span>
                </div>
                <div class="star-item flex-column" data-star="2">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s2-v=1.1.png">
                    <span class="star-name">金牛座</span>
                    <span class="star-time">4.20-5.20</span>
                </div>
                <div class="star-item flex-column" data-star="3">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s3-v=1.1.png">
                    <span class="star-name">双子座</span>
                    <span class="star-time">5.21-6.21</span>
                </div>
                <div class="star-item flex-column" data-star="4">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s4-v=1.1.png">
                    <span class="star-name">巨蟹座</span>
                    <span class="star-time">6.22-7.22</span>
                </div>
            </div>
            <div class="alert-item flex-row">
                <div class="star-item flex-column" data-star="5">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s5-v=1.1.png">
                    <span class="star-name">狮子座</span>
                    <span class="star-time">7.23-8.22</span>
                </div>
                <div class="star-item flex-column" data-star="6">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s6-v=1.1.png">
                    <span class="star-name">处女座</span>
                    <span class="star-time">8.23-9.22</span>
                </div>
                <div class="star-item flex-column" data-star="7">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s7-v=1.1.png">
                    <span class="star-name">天秤座</span>
                    <span class="star-time">9.23-10.23</span>
                </div>
                <div class="star-item flex-column" data-star="8">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s8-v=1.1.png">
                    <span class="star-name">天蝎座</span>
                    <span class="star-time">10.24-11.22</span>
                </div>
            </div>
            <div class="alert-item flex-row">
                <div class="star-item flex-column" data-star="9">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s9-v=1.1.png">
                    <span class="star-name">射手座</span>
                    <span class="star-time">11.23-12.21</span>
                </div>
                <div class="star-item flex-column" data-star="10">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s10-v=1.1.png">
                    <span class="star-name">摩羯座</span>
                    <span class="star-time">12.22-1.19</span>
                </div>
                <div class="star-item flex-column" data-star="11">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s11-v=1.1.png">
                    <span class="star-name">水瓶座</span>
                    <span class="star-time">1.20-2.18</span>
                </div>
                <div class="star-item flex-column" data-star="12">
                    <img class="star-img" src="/statics/ffsm/xingzuo/img/s12-v=1.1.png">
                    <span class="star-name">双鱼座</span>
                    <span class="star-time">2.19-3.20</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page">
    <section class="main-wrap flex-column" style="padding-bottom: 3.4rem">

        <div class="banner-wrap flex-column">
            <img class="banner-bg" src="/statics/ffsm/xingzuo/img/banner_bg-v=1.7.png">
            <div id="meteors"></div>
            <div class="banner-box flex-column">
                <div class="switch-wrap flex-row">
                    <div class="star-box flex-row-2"><label for="star_name">当前星座:</label><span data-sid="1" id="star_name">白羊座</span></div>
                    <img class="switch-btn" src="/statics/ffsm/xingzuo/img/switch_btn-v=1.0.png">
                </div>
                                    <img class="banner" src="/statics/ffsm/xingzuo/img/star_01-v=1.0.png">
            </div>
            <div class="order-btn-wrap flex-center">
                <img class="order-btn" src="/statics/ffsm/xingzuo/img/order_btn-v=1.7.png">
            </div>
        </div>

        <div class="start-wrap flex-center">
            <div class="start-btn start-zoom flex-center">
                <img class="start-bg" id="start_bg" style="display: none" src="/statics/ffsm/xingzuo/img/btn_bg-v=1.0.png">
                <span class="start-name flex-center" style="display: none">立即分析白羊座运势</span>
            </div>
        </div>

        <div class="trouble-wrap flex-column">
            <img class="star-big-r" src="/statics/ffsm/xingzuo/img/star_br-v=1.7.png">
            <div class="trouble-box flex-center">
                <img class="trouble-text" src="/statics/ffsm/xingzuo/img/trouble_text-v=1.7.png">
                <img class="arrow arrow_01" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_02" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_03" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_04" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_05" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_06" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
            </div>
        </div>

        <div class="answer-wrap flex-column">
            <img class="star-big-l" src="/statics/ffsm/xingzuo/img/star_bl-v=1.7.png">
            <div class="answer-box flex-center">
                <img class="answer-text" src="/statics/ffsm/xingzuo/img/answer_text-v=1.7.png">
                <img class="arrow arrow_07" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_08" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_09" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
                <img class="arrow arrow_10" src="/statics/ffsm/xingzuo/img/arrow-v=1.7.png">
            </div>
        </div>

        <div class="chart-wrap flex-column">
            <div class="chart-box flex-center">
                <img class="chart-text" src="/statics/ffsm/xingzuo/img/index-v=1.7.png">
            </div>
        </div>

        <div class="comment-wrap flex-column">
            <div class="comment-box flex-column">
                <p class="comment-title-text flex-center"><span>已爲超过</span><em>12万</em><span>人提供运势指引</span></p>
                <div class="detail-data flex-row">
                    <span class="person-count flex-row">已测算人数: <em>123343</em></span>
                    <span class="rate-num flex-row"> <img
                            src="/statics/ffsm/xingzuo/img/emoji-v=1.7.png">好评率: <em>99.8%</em></span>
                </div>
                <div class="labels flex-row">
                    <span id="label_0">专业精准(<em>24234</em>)</span>
                    <span id="label_1">符合现状(<em>4532</em>)</span>
                    <span id="label_2">超级准(<em>3842</em>)</span>
                    <span id="label_3">五星好评(<em>2408</em>)</span>
                    <span id="label_4">具体(<em>64543</em>)</span>
                </div>
                <div class="upto-wrap">
                    <ul class="comment-list info-list-box">
                        <li>
                                <p class="user">东北秦**</p>
                                <p class="detail">我本来是冲著爱情运势来的，没想到事业也这么准，说的1月的事情已经发生了，不错不错！</p>
                            </li><li>
                                <p class="user">西安周**</p>
                                <p class="detail">我水瓶的，说火星5月会给我带来一个温暖的人，好期待嘤嘤嘤^_^</p>
                            </li><li>
                                <p class="user">郑州李**</p>
                                <p class="detail">缺点全被说中了，哼我就算知道了也不会改的</p>
                            </li><li>
                                <p class="user">南京李*</p>
                                <p class="detail">材运好准，说我1月有一笔理赔方面的偏材，结果车蹭了前天收到保险公司理赔。</p>
                            </li><li>
                                <p class="user">黑龙江朱**</p>
                                <p class="detail">说我2021年3月会从以前的同学里面找到另一半哈哈哈哈，刚刚和高中暗恋的男同学重逢哈哈哈</p>
                            </li><li>
                                <p class="user">重庆赵**</p>
                                <p class="detail">材运真的好准呀！说我被什么土星和冥王星影响，今年会遭遇拆迁什么的，我们村等了2年，刚通知的7月份拆迁。</p>
                            </li><li>
                                <p class="user">深圳孙*</p>
                                <p class="detail">蛮不错的勒，跟我自己解读的差不多，但是更详细一些。</p>
                            </li><li>
                                <p class="user">苏州孙**</p>
                                <p class="detail">神准！我准备给我老公再测一下</p>
                            </li><li>
                                <p class="user">常州贾**</p>
                                <p class="detail">还挺专业的，不错</p>
                            </li><li>
                                <p class="user">徐州吴**</p>
                                <p class="detail">就两个字： 超值！！！</p>
                            </li><li>
                                <p class="user">东北李*</p>
                                <p class="detail">我的主动权占98%？？？我昨天主动出击真的把男神拿下了，开心开心啦啦啦</p>
                            </li><li>
                                <p class="user">武汉钱*</p>
                                <p class="detail">一分钱一分货，这个价位算是很不错的了</p>
                            </li><li>
                                <p class="user">成都何**</p>
                                <p class="detail">比较推荐，测完整体感觉很满意~</p>
                            </li><li>
                                <p class="user">洛阳孙**</p>
                                <p class="detail">占星师解答还是人工智能占星？感觉都挺高大上的</p>
                            </li><li>
                                <p class="user">张掖龙*</p>
                                <p class="detail">真得挺准```HOHO，炒鸡感谢呢！！！</p>
                            </li><li>
                                <p class="user">北京雷**</p>
                                <p class="detail">人家都是一个运势卖一份，你这个3个运势卖一份不会亏嘛（括弧笑）</p>
                            </li><li>
                                <p class="user">天津高**</p>
                                <p class="detail">个人觉得非常实用准确，推荐！</p>
                            </li><li>
                                <p class="user">香港任*</p>
                                <p class="detail">说的蛮准的，想找大师提问几个问题，请问在哪里可以问到？</p>
                            </li><li>
                                <p class="user">广州王*</p>
                                <p class="detail">还行，比之前我测过的专业很多，内容也更详细！</p>
                            </li><li>
                                <p class="user">台北张**</p>
                                <p class="detail">想要找大师单独测算一下，有没有这个功能，求问？</p>
                            </li><li>
                                <p class="user">丽江石*</p>
                                <p class="detail">内容上比较有针对性,也很容易懂,不会很文绉绉的,比较直白。</p>
                            </li><li>
                                <p class="user">海南洪**</p>
                                <p class="detail">性价比很高，一份运势三份内容，爱情，材富，事业都说了</p>
                            </li><li>
                                <p class="user">杭州樊*</p>
                                <p class="detail">和我找的占星师讲的一模一洋，难道这公司老板是个占星师。。。</p>
                            </li><li>
                                <p class="user">福州刘**</p>
                                <p class="detail">解说详细，内容令人信服！</p>
                            </li><li>
                                <p class="user">厦门马**</p>
                                <p class="detail">无意间点进来的，忍不住好奇心就测了。emmm…真的蛮准的，性价比很高！</p>
                            </li><li>
                                <p class="user">福州汤*</p>
                                <p class="detail">还可以，比之前测过其他家的好很多，比较推荐！</p>
                            </li>                    </ul>
                </div>
            </div>
        </div>

        <div class="guide-wrap flex-column">
            <div class="guide-box flex-column">
                <p class="guide-title">2021年365天的</p>
                <div class="guide-labels flex-center">
                    <span class="label">婚恋桃花</span>
                    <span class="label">材富增长</span>
                    <span class="label">升职加薪</span>
                </div>
                <p class="guide-desc">
                    只需<em>1分钟</em>,详细解析立即获取
                </p>
            </div>
        </div>

    </section>

    <div class="toast-wrap flex-center">
        <div class="toast-box flex-center">
            <span></span>
        </div>
    </div>

    <div class="float-wrap flex-center">
        <div class="float-btn flex-center">
            <div class="start-btn start-zoom flex-center">
                <img class="start-bg" src="/statics/ffsm/xingzuo/img/btn_bg-v=1.0.png">
                <span class="start-name flex-center">立即分析白羊座运势</span>
            </div>
        </div>
    </div>
    <div class="spinner-wrap flex-center" style="display: none">
        <div class="spinner-box flex-column" style="width: 180px">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
            <span class="tips-text">星象计算中，请稍后...</span>
        </div>
    </div>

    <div class="success-wrap flex-center" style="display:none;">
        <div class="success-box flex-column">
            <div class="success-banner flex-column">
                <img class="banners" src="/statics/ffsm/xingzuo/css/image/interim/banner-v=1.7.png">
            </div>
            <div class="owner-wrap flex-column">
                <span class="owner flex-center"><em>白羊座</em>的</span>
                <span class="owner-2 flex-center">2021运势分析已购买</span>
            </div>
            <span class="over-text flex-center">正在进入...</span>
        </div>
    </div>
</section>
</body>
<script type="text/javascript" src="/statics/ffsm/xingzuo/css/jquery.min.js"></script>
<script type="text/javascript" src="/statics/ffsm/xingzuo/css/scroll.js"></script>
<script type="text/javascript" src="/statics/ffsm/xingzuo/css/zwSdk.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#start_bg').show();
            $('.start-name').show();
        },10);
        var needchoose = "1";
        needchoose = parseInt(needchoose);
        if(needchoose){
            // $('.page').css({height: "100%", overflow: "hidden"});
            $('.alert').fadeIn();
        }
        var stars = ["白羊座","金牛座","双子座","巨蟹座","狮子座","处女座","天秤座","天蝎座","射手座","摩羯座","水瓶座","双鱼座"];
        var starid = "1";
        starid = parseInt(starid);
        //页面统计
        setTimeout(function () {
            try {
                MtaH5.clickStat("index_view");
                MtaH5.clickStat('2021xingzuoyuns-2', {'homepageuv': 'true'})
            } catch (e) {
                console.log(e);
            }
        }, 1000);
        var meteors = document.getElementById('meteors');
        // 随机生成流星
        for (var j = 0; j < 10; j++) {
            var newStar = document.createElement("div");
            newStar.className = "meteor";
            newStar.style.top = randomDistance(16, -3) + 'rem';
            newStar.style.left = randomDistance(110, 20) + '%';
            meteors.appendChild(newStar)
        }

        var meteor = document.getElementsByClassName('meteor');

        // 封装随机数方法
        function randomDistance(max, min) {
            var distance = Math.floor(Math.random() * max + min);
            return distance
        }

        // 给流星添加动画延时
        for (var i = 0, len = meteor.length; i < len; i++) {
            if (i % 6 == 0) {
                meteor[i].style.animationDelay = '0s'
            } else {
                meteor[i].style.animationDelay = i * 0.8 + 's'
            }
        }

        $('.toast-wrap').hide();
        $('.float-wrap').hide();
        $('.switch-btn').click(function () {
            // $('.page').css({height: "100%", overflow: "hidden"});
            $('.alert').fadeIn();
        });
        $('.close-btn').click(function () {
            // $('.page').css({height: "auto", overflow: "auto"});
            $('.alert').fadeOut();
        });
        $('.star-item').click(function (event) {
            starid = parseInt(event.currentTarget.dataset.star);
            var star_name_old = $('#star_name').text();
            $('#star_name').text(stars[starid-1]);
            $('.owner em').text(stars[starid-1]);
            var star_name_new = $('#star_name').text();
            if(star_name_old ==star_name_new){
                $('.alert').fadeOut();
                return null;
            }

            var star_banner = starid<10?('0'+starid):starid;
            $('.banner').attr("src", "/statics/ffsm/xingzuo/img/star_"+star_banner+".png?v=1.0");
            $('.start-name').text("立即分析"+stars[starid-1]+"运势");
            // $('.page').css({height: "auto", overflow: "auto"});
            $('.alert').fadeOut();
        });

        var count = "125281";
        var rate = "99.8%";
        var labels = Array;
        count = parseInt(count);
        $('.person-count em').text(count);

        if (count < 10000) {
            count = (count / 10000).toFixed(1) + '万';
        } else {
            count = parseInt(count / 10000) + '万';
        }
        $('.comment-title-text em').text(count);

        $('.rate-num em').text(rate);
        for (var i = 0; i < labels.length; i++) {
            $("#label_" + i + " em").text(labels[i]);
        }

        function showToast(msg) {
            $('.toast-wrap').fadeIn();
            $('.toast-wrap span').addClass('toast');
            $('.toast-wrap span').text(msg);
            setTimeout(function () {
                $('.toast-wrap').fadeOut();
            }, 1200)
        }


        $('.order-btn-wrap').click(function () {
            try {
                MtaH5.clickStat("history_click");
            } catch (e) {
                console.log(e);
            }
            setTimeout(function(){
                window.location.href = "/?ac=history";
            },400)
        });

        $('.start-btn').click(function () {

            try {
                MtaH5.clickStat("astr_click");
                MtaH5.clickStat('2021xingzuoyuns-2', {'atsrclick': 'true'});
            } catch (e) {
                console.log(e);
            }
            zwDivine.recordUserInfo({
                'name': '',
                'gender': 0,
                'birthday': '',
                'extra': JSON.stringify({
                    'src': '1001',
                    'starid': starid
                })
            });
            $.ajax({
                url: "/?ac=adddcorder",
                method: 'POST',
                data: {
                    src: '1001',
                    starid: starid
                },
                success: function (res) {
                    res = JSON.parse(res);
                    var orderId = res.orderId;
                    var src = '1001';
                    var paystatus = parseInt(res.paystatus);

                    if (res.code == 1) {
                        if(paystatus===1){
                            $('.success-wrap').fadeIn();
                            setTimeout(function () {
                                window.location.href = "/?ac=xingzuo&oid=" + orderId + '&src=' + src;
                                setTimeout(function () {
                                    $('.success-wrap').hide();
                                },1000);
                            }, 1500);
                        }else{
                            $('.spinner-wrap').fadeIn();
                            setTimeout(function () {
                                $('.spinner-wrap').hide();
                                window.location.href = "/?ac=xingzuointerim&oid="+ orderId + "&src=" + src;
                            }, 400);

                        }
                    }
                }
            })
        });


        window.onscroll = function () {
            var top = document.documentElement.scrollTop || document.body.scrollTop;
            top > 740 ? $('.float-wrap').fadeIn() : $('.float-wrap').fadeOut();
        };
    });
</script>
<{include file='./ffsm/footers.tpl'}>
<{include file='./ffsm/dl_ck.tpl'}>
</html>