* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
    list-style-type: none;
}

input:focus {
    outline: none;
}

html, body {
    max-width: 640px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

em {
    font-style: normal;
    font-weight: normal;
}

.public_header {
	height: 45px;
	line-height: 45px;
	background: #642bac;
	width: 100%;
	position: relative;
}

.public_h_logo {
	position: absolute;
	left: 10px;
	height: 44px;
	top: 0;
	display: block
}

.public_h_logo img {
	height: 100%;
	display: block
}

.public_h_con {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	line-height: 45px;
}

.public_h_home {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 0;
	left: 0;
}

.public_h_menu {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    width: 60px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    text-decoration: none;
}

.public_h_home:after {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url("/statics/ffsm/public/images/icon_home_bai.png");
}
/*-----flex-----*/
.flex-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.flex-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

/*-----flex-----*/


/*----------------容器盒子------------*/
section.page {
    width: 100%;
    position: relative;
}
div.content-wrap {
    width: 100%;
    padding: 0 0.6rem;
}

div.content-wrap div.content-box {
    width: 100%;
    position: relative;
    z-index: 999;
}

div.content-wrap img.border {
    display: block;
    width: 100%;
    height: auto;
}

div.content-wrap img.border-top {
    margin-bottom: -1px;
}

div.content-wrap img.border-bot {
    margin-top: -1px;
}

div.content-wrap div.content-panel {
    width: 100%;
    background-image: url('/statics/ffsm/taluo/yunshi/image/border_mid2-v=1.3.png');
    /*background-repeat: repeat-y;*/
    background-size: 100% 100%;
    padding: 0 0.2rem;
}

div.content-wrap img.title {
    display: block;
    width: 10rem;
    height: auto;
    margin: 0.8rem 0rem 0.4rem 0rem;
}

div.content-wrap div.content {
    width: 100%;
    padding: 0 0.3rem;
    position: relative;
    z-index: 9999;
}
/*----------------容器盒子------------*/



/*更多游戏*/
div.more-wrap {
    width: 100%;
    margin-top: 0.6rem;
}

div.more-app {
    width: 100%;
}

div.more-app div.title {
    width: 100%;
    height: 1.4rem;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #904fc3;
}

div.more-app div.apps {
    width: 100%;
    background-color: #7332a6;
    padding: 0.6rem 0.3rem;
}

div.more-app ul.line {
    width: 100%;
}

div.more-app ul.line:first-child {
    margin-bottom: 0.8rem;
}

div.more-app ul.line li a {
    text-decoration: none;
    width: 2.8rem;
}

div.more-app div.cover {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 12px;
    -webkit-overflow: hidden;
    overflow: hidden;
    margin-bottom: 0.1rem;
}

div.more-app div.cover img.app-img {
    display: block;
    width: 2rem;
    height: 2rem;
}

div.more-app div.cover img.original {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
}

div.more-app div.app-title {
    width: 2.8rem;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    -webkit-overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 340px) {
    div.more-app div.app-title {
        font-size: 12px;
    }

    div.more-app div.title {
        font-size: 16px;
        font-weight: 400;
    }
}

/*客服*/
div.kefu-wrap {
    width: 100%;
    background-color: #5f2490;
}

div.kefu-wrap div.title {
    width: 100%;
    height: 1.8rem;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-left: 0.4rem;
    border-bottom: 2px solid #863db3;
}

div.kefu-wrap div.kefu-content {
    width: 100%;
    padding-top: 1rem;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 3rem;
}

@media screen and (max-width: 340px) {
    div.kefu-wrap div.title {
        font-size: 16px;
        font-weight: 400;
    }

    div.kefu-wrap div.kefu-content {
        font-size: 12px;
    }
}

div.kefu-wrap p.wx {
    color: #fac686;
    margin-bottom: 0.3rem;
}