<script src="images/js/jquery.upload.js" type="text/javascript"></script>
<script src="images/js/admin.js" type="text/javascript"></script>
<{if isset($jsfun)}>
<script type="text/javascript"><{$jsfun}></script>
<{/if}>
</body>
</html>