<{include file="admin/header.tpl"}>
<div style="width:96%;margin:auto;padding:auto">
    <form name="form1" action="?ct=<{$ct}>&ac=<{$ac_list}>_do" method="POST" enctype="multipart/form-data">
        <table class="form">
<{include file="admin/base/edit.tpl"}>
        </table>
    </form>
</div>

</body>
</html>
