* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
    list-style-type: none;
}

input:focus {
    outline: none;
}

html, body {
    max-width: 640px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

em {
    font-style: normal;
    font-weight: normal;
}
.public_header {
	height: 45px;
	line-height: 45px;
	background: #40367a;
	width: 100%;
	position: relative;
}

.public_h_logo {
	position: absolute;
	left: 10px;
	height: 44px;
	top: 0;
	display: block
}

.public_h_logo img {
	height: 100%;
	display: block
}

.public_h_con {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	line-height: 45px;
}

.public_h_home {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 0;
	left: 0;
}

.public_h_menu {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    width: 60px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    text-decoration: none;
}

.public_h_home:after {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url("/statics/ffsm/public/images/icon_home_bai.png");
}

/*-----flex-----*/
.flex-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.flex-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*----------------å®¹å™¨ç›’å­------------*/
section.page {
    width: 100%;
    position: relative;
}
div.content-wrap {
    width: 100%;
    padding: 0 0.5rem;
}

div.content-wrap div.content-box {
    width: 100%;
    position: relative;
    z-index: 999;
    margin-bottom: 0.5rem;
}

div.content-wrap img.border {
    display: block;
    width: 100%;
    height: auto;
}

div.content-wrap img.border-top {
    margin-bottom: -1px;
}

div.content-wrap img.border-bot {
    margin-top: -1px;
}

div.content-wrap div.content-panel {
    width: 100%;
    background-image: url('/statics/ffsm/taluo/xinli/img/border_mid-v=1.0.png');
    /*background-repeat: repeat-y;*/
    background-size: 100% 100%;
    padding: 0 0.2rem;
}

div.content-wrap img.title {
    display: block;
    width: 10rem;
    height: auto;
    margin: 0.8rem 0rem 0.4rem 0rem;
}

div.content-wrap div.content {
    width: 100%;
    padding: 0 0.3rem;
    position: relative;
    z-index: 9999;
}


/*è¯„è®ºåŒºæ ·å¼*/
div.content-wrap p.comment-title{
    width: 100%;
    color: #6958be;
    font-weight: bold;
    font-size: 0.76rem;
    white-space:nowrap;
}
div.content-wrap p.comment-title em{
    font-weight: bold;
    color: #de6c3a;
}
div.content-wrap div.detail-data{
    font-size: 0.55rem;
    color: #FFFFFF;
    width: 100%;
    padding: 0.6rem 0;
}
div.content-wrap div.detail-data span{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    background-color: #8e7ee1;
    border-radius: 0.2rem;
    padding: 0.1rem 0.2rem;
}
div.content-wrap div.detail-data span img{
    display: block;
    width: 0.62rem;
    height: auto;
    margin-right: 0.1rem;
}
div.content-wrap div.detail-data span em{
    color: #ffe35f;
}
div.content-wrap div.labels{
    width: 100%;
    font-size: 0.48rem;
    padding-bottom: 0.3rem;
    color: #6e57e3;
    /*border-bottom: 0.04rem solid #B9B9B9;*/
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
div.content-wrap div.labels span{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.1rem 0.15rem;
    border-radius: 1rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    border: 0.04rem solid #6e57e3;
}
div.content-wrap div.labels span:last-child{
    margin-right: 0;
}
div.content-wrap div.labels div.span-line{
    width: 100%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
div.content-wrap div.upto-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 0.55rem;
}
div.content-wrap ul.comment-list li {
    display: flex;
    display:  -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-bottom: 0.04rem solid #B9B9B9;
    padding: 0.2rem 0;
    box-sizing: border-box;
    height: 3.8rem !important;
}
div.content-wrap ul.comment-list li p.user {
    color: #6e5bd1;
    margin-bottom: 0.1rem;

}
div.content-wrap ul.comment-list li P.detail {
    color: #54524e;
}

/*Toast*/
div.toast-wrap {
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 6rem;
}
div.toast-wrap div.toast-box{
    width: 100%;
    max-width: 640px;
}
.toast {
    white-space: nowrap;
    font-size: 0.62rem;
    color: #FFFFFF;
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
}

/*æµ®åŠ¨æŒ‰é’®*/
div.float-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

div.float-wrap div.float-btn {
    width: 100%;
    max-width: 640px;
    height: 2.4rem;
    background-color: rgba(0, 0, 0, 0.4);
}

/*æ›´å¤šæ¸¸æˆ*/
div.more-wrap {
    width: 100%;
    margin-top: 0.6rem;
}

div.more-app {
    width: 100%;
}

div.more-app div.title {
    width: 100%;
    height: 1.4rem;
    font-size: 0.69rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #6d60b2;
}

div.more-app div.apps {
    width: 100%;
    background-color: #5a4d9c;
    padding: 0.6rem 0.3rem;
}

div.more-app ul.line {
    width: 100%;
}

div.more-app ul.line:first-child {
    margin-bottom: 0.8rem;
}

div.more-app ul.line li a {
    text-decoration: none;
    width: 2.8rem;
}

div.more-app div.cover {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    -webkit-overflow: hidden;
    overflow: hidden;
    margin-bottom: 0.1rem;
}

div.more-app div.cover img.app-img {
    display: block;
    width: 2rem;
    height: 2rem;
}

div.more-app div.cover img.original {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
}

div.more-app div.app-title {
    width: 2.8rem;
    text-align: center;
    font-size: 0.52rem;
    color: #FFFFFF;
    -webkit-overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.kefu-wrap {
    width: 100%;
    background-color: #403579;
}

div.kefu-wrap div.title {
    width: 100%;
    height: 1.8rem;
    font-size: 0.69rem;
    font-weight: 500;
    color: #FFFFFF;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-left: 0.4rem;
    border-bottom: 0.07rem solid #7c71b6;
}

div.kefu-wrap div.kefu-content {
    width: 100%;
    padding-top: 1rem;
    font-size: 0.55rem;
    color: #FFFFFF;
    padding-bottom: 3rem;
}


div.kefu-wrap p.wx {
    color: #ffcc72;
    margin-bottom: 0.3rem;
}