body {
    background-color: #FFFFFF;
}
section.page {
    background-color: #40357a;
}
section.main-wrap {
    position: relative;
    width: 100%;
}

img.order_btn {
    position: absolute;
    top: 4.8rem;
    right: 0;
    width: 0.94rem;
    height: auto;
    z-index: 99;
}

div.banner-wrap {
    width: 100%;
    margin-bottom: -0.4rem;
}

div.banner-wrap img.banner {
    display: block;
    width: 100%;
    height: auto;
}
img.start-btn {
    display: block;
    width: 11rem;
    height: auto;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}
img.start-zoom{
    -webkit-animation: zoom 1s linear infinite alternate;
    -o-animation: zoom 1s linear infinite alternate;
    animation: zoom 1s linear infinite alternate;
}
@keyframes zoom {
    form {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-webkit-keyframes zoom {
    form {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}
div.content-wrap img.image-title{
    position: absolute;
    top: 0.22rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: block;
    height: 1rem;
    width: auto;
}
div.content-wrap img.status-title{
    display: block;
    width: 9.6rem;
    height: auto;
    margin: -0.1rem 0 0.2rem 0;
}

div.content-wrap div.radio-wrap{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 100%;
    margin: 0.2rem 0;
    padding: 0.6rem 0.2rem;
    border-bottom: 0.04rem solid #E0E0E0;
    font-size: 0.55rem;
}
div.content-wrap div.radio-wrap img{
    display: block;
    width: 0.6rem;
    height: auto;
    margin-right: 0.2rem;
}
div.content-wrap div.radio-wrap label{
    margin-right: 0.6rem;
}
div.content-wrap div.radio-wrap span{
    cursor: pointer;
    user-select: none;
}
div.content-wrap div.radio-wrap span:first-child{
    margin-right: 0.6rem;
}
div.content-wrap img.parse-intro-text {
    display: block;
    width: 96%;
    height: auto;
    margin: -0.1rem 0 -0.2rem 0.4rem;
}
div.content-wrap img.step-intro-text{
    display: block;
    width: 94%;
    height: auto;
    margin: -0.1rem 0 0.4rem 0;
}
div.content-wrap img.list-intro-text{
    display: block;
    width: 92%;
    height: auto;
    margin: -0.1rem 0 0.2rem 0.1rem;
}

